RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Block direct access to everything except the three allowed PHP files
<FilesMatch "^(?!index\.php|admin\.php|export\.php)">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block direct access to .env (redundant)
<Files ".env">
    Order allow,deny
    Deny from all
</Files>

# Block direct access to .sql folder (redundant)
<FilesMatch "\.sql$">
    Order allow,deny
    Deny from all
</FilesMatch>


