# Set environment variables
SetEnv DB_HOST 127.0.0.1
SetEnv DB_USER pevers
SetEnv DB_PASSWORD 0f1STAnd12zx!13
SetEnv DB_NAME pevers
SetEnv DB_PORT 3306
SetEnv BASE_PATH /1af8d72c/api

# Existing rewrite rules
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]